.register, .signIn{
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../../Img/Signin-Vector.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    .tabs{
        width: 30%;
        margin-bottom: 3rem;
        border-bottom: 1px solid #707070;
        position: relative;
        button{
            width: 50%;
            font-size: 2em;
            color: #625076;
            padding: 1.5rem 0;
        }
        span{
            width: 50%;
            height: 3px;
            background-color: #625076;
            position: absolute;
            bottom: -2px;
            transition: .3s ease all;
        }
    }
    form{
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        ._field{
            position: relative;
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
            width: 100%;
            input{
                text-align: right;
                padding: .8rem 1rem;
                width: 100%;
                border: 1px solid #a9a1b1;
                border-radius: .4em;
                background-color: #fafaf9;
                &:-internal-autofill-selected {
                    background-color: transparent;
                }
                &::placeholder{
                    color: transparent;
                }
                &:placeholder-shown{
                    &~label{
                        transform: translateY(0px);
                    }
                }
                &:-webkit-autofill:focus, &:-webkit-autofill {
                    transition: background-color 600000s 0s, color 600000s 0s;
                }
                &:focus, &:focus-visible{
                    outline: none;
                    &~label{
                        transform: translateY(-25px);
                    }
                }
            }
            label{
                position: absolute;
                right: .5rem;
                font-size: .8em;
                transform: translateY(-25px);
                cursor: text;
                background-color: #fafaf9;
                padding: 0 1rem;
                transition: .1s ease transform;
            }
        }
        button{
            background-color: #4B5563;
            padding: 0.7rem 3rem;
            border-radius: 4px;
            font-size: 1.2em;
            color: #fafaf9;
            margin: 0 .5rem;
            &:hover{
                background-color: #454e5c;
            }
        }
    }
}