.profile{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10%;
    width: 100%;
    .tablist{
        width: 29%;
        box-shadow: 0px 0px 20px -10px;
        border-radius: 8px;
        position: sticky;
        top: 10px;
        .name{
            background-color: #52525b;
            display: flex;
            border-radius: 8px 8px 0px 0px;
            align-items: center;
            justify-content: center;
            font-size: 1.8em;
            padding: 2.5rem;
            font-weight: 500;
            p{
                color: #d4d4d8;
            }
        }
        ul{
            border: none;
            margin-bottom: 0;
            overflow: hidden;
            li{
                color: #000;
                width: 100%;
                padding: 2rem;
                bottom: unset;
                position: unset;
                display: flex;
                cursor: pointer;
                align-items: center;
                transition: .3s ease all;
                border: none;
                &::after{
                    background-color: transparent;
                }
                &:hover{                    
                    background: #efefef;
                }
                span{
                    bottom: 2px;
                    position: relative;
                    padding: 0 .5rem 0 1rem;
                }
                .leftArrow{
                    display: none;
                }
                &.react-tabs__tab--selected{
                    background: #efefef;
                    border-color: unset;
                    border: none;
                    border-radius: unset;
                    .leftArrow{
                        display: block;
                    }
                }
            }
        }
    }
    .shkjasdhik{
        height: 100%;
        width: 100%;
    }
    .tabContent{
        width: 69%;
        box-shadow: 0px 0px 20px -10px;
        border-radius: 8px;
        padding: 3rem;
        padding-bottom: 1rem;
        .panel{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            form{
                width: 30%;
                display: flex;
                flex-direction: column;
                align-items: center;
                ._field{
                    position: relative;
                    display: flex;
                    align-items: center;
                    margin-bottom: 2rem;
                    width: 100%;
                    input{
                        text-align: right;
                        padding: .8rem 1rem;
                        width: 100%;
                        border: 1px solid #a9a1b1;
                        border-radius: .4em;
                        background-color: transparent;
                        &:-internal-autofill-selected {
                            background-color: transparent;
                        }
                        &::placeholder{
                            color: transparent;
                        }
                        &:placeholder-shown{
                            &~label{
                                transform: translateY(0px);
                            }
                        }
                        &:-webkit-autofill:focus, &:-webkit-autofill {
                            transition: background-color 600000s 0s, color 600000s 0s;
                        }
                        &:focus, &:focus-visible{
                            outline: none;
                            &~label{
                                transform: translateY(-28px);
                                font-size: .6em;
                            }
                        }
                    }
                    label{
                        position: absolute;
                        right: .5rem;
                        font-size: .8em;
                        transform: translateY(-25px);
                        cursor: text;
                        background-color: #fafaf9;
                        padding: 0 1rem;
                        transition: .1s ease transform;
                    }
                }
            }
            button{
                background-color: #4B5563;
                padding: 0.5rem 3rem;
                border-radius: 4px;
                font-size: 1em;
                color: #fafaf9;
                margin: 0 .5rem;
                margin-bottom: 2rem;
                &:hover{
                    background-color: #454e5c;
                }
            }
        }
        .advertising, .favorite{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}