.contact_us{
    width: 50%;
    position: relative;
    margin: 5rem auto;
    box-shadow: 0px 0px 15px rgba(0,0,0,.15);
    padding: 10rem;
    min-height: 40rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    #_share_opinion{
        position: absolute;
        right: -20%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #625076;
        padding: 3rem;
        height: 85%;
        width: 45%;
        overflow: hidden;
        color: #d6d3d1;
        border-radius: .8rem;
        label{
            font-size: small;
        }
        input{
            border-radius: .6em;
            padding: .4em;
            background-color: #d9d1e5;
        }
        textarea{
            border-radius: .6em;
            padding: .4em;
            background-color: #d9d1e5;
            resize: none;
        }
    }
    #_social_media{
        display: flex;
        flex-wrap: wrap;
        max-width: 50%;
            justify-content: space-between;
        #__item{
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 3rem 0;
            cursor: pointer;
            #___image{
                width: 50%;
                height: 70%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: .5rem;
                img{
                    max-height: 100%;
                    max-width: 100%;
                }
            }
            span{
                font-size: small;
            }
        }
    }
}