@media only screen and (min-width: 1600px) {
}
@media only screen and (max-width: 1599.98px) {
    .advertising #_file_content #_assignation, .advertising #gallery #_two_small_img{
        width: 30%;
    }
    .advertising #gallery #_one_big_img, .advertising #_file_content #_details{
        width: 70%;
    }
    .advItem #_details ul{
        font-size: .9em;
    }
}
@media only screen and (max-width: 1199.98px) {
    .advertising #_file_content #_assignation, .advertising #gallery #_two_small_img{
        width: 40%;
    }
    .advertising #gallery #_one_big_img, .advertising #_file_content #_details{
        width: 60%;
    }
    .advItem #_details ul{
        font-size: .9em;
    }
    header .headerContent .headerItems a{
        width: 30%;
    }
    header.goBot .headerItems a{
        width: 100%;
    }
}
@media only screen and (max-width: 990.98px) {
    .advertising {
        #gallery{
            flex-direction: column;
            #_one_big_img, #_two_small_img{
                width: 100%;
                #_smallimg{
                    width: 50%;
                    height: 100%;
                    &:first-child{
                        margin-left: .25rem;
                    }
                    &:last-child{
                        margin-right: .25rem;
                    }
                }
            }
            #_two_small_img{
                flex-direction: row;
                height: 40%;
                border-radius: 0 0 1rem 1rem;
            }
            #_one_big_img{
                height: 60%;
                border-radius: 1rem 1rem 0 0;
                margin-left: 0;
                margin-bottom: .5rem;
                .imgSlide{
                    left: 1rem;
                    right: unset;
                    top: 1rem;
                    bottom: unset;
                    padding: 0.5rem;
                    font-size: .8em;
                }
            }
            .buttons{
                font-size: .7em;
            }
        }
        #_file_content{
            flex-direction: column;
            #_details, #_assignation{
                width: 100%;
                padding: 0;
                #_map_pin, #_explain{
                    margin-top: 3rem;
                }
            }
            #_assignation{
                margin-top: 2rem;
                #_file_content #_details #_price_history table{
                    font-size: .8em;
                }
            }
        }
    }
    header .headerContent{
        width: 60%;
        .headerItems a {
            font-size: small;
            padding: 5px 10px;
        }
    }
}
@media only screen and (max-width: 767.98px) {
    .header{
        height: 3rem;
        justify-content: flex-start;
        .logo{
            height: 50%;
        }
        .menu{
            padding-right: 1rem;
            a{
                padding-left: 2rem;
                padding-right: 0;
                font-size: .9em;
            }
        } 
    } 
    .advertising {
        padding: 2rem;
        #_file_content{
            padding: 2rem 0rem;
        }
    }
    .swiper-button-prev, .swiper-button-next{
        display: none;
    }
}
@media only screen and (max-width: 575.98px) {
    .header .menu{
        position: absolute;
        top: 0;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
        background-color: rgba(0,0,0,.9);
        width: 100%;
        display: none;
        a{
            margin-top: 1rem;
            color: #e7e5e4;
        }
    }
    .advItem #_details ul li{
        width: 100%;
        p.text-left {
            text-align: right;
        }
    }
    .advItem #_details ul {
        font-size: 0.8em;
    }
    #__sub_details  li p{
        font-size: 10px!important;
    }
    .advertising{
        padding: 1rem;
        #gallery{
            .buttons{
                width: 15%;
                button #__social_media{
                    font-size: 1.5em;
                }
            }
            #_one_big_img{
                height: 33.33%;
            }
            #_two_small_img{
                flex-direction: column;
                height: 66.66%;
                #_smallimg{
                    width: 100%;
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
        #_file_content #_details{
            #__sub_details li{
                font-size: small;
                width: 50%;
            }
            #__main_details{
                flex-direction: column;
                li{
                    width: 100%;
                    margin-bottom: .5rem;
                    p{
                        margin-bottom: 0;
                    }
                    &:nth-child(even){
                        text-align: right;
                    }
                }
            }
        } 
    } 
    .price_table{
        width: 100%;
        overflow-x: auto;
        table{
            min-width: 500px;
        }
    }
}