@media only screen and (min-width: 1600px) {
}
@media only screen and (max-width: 1599.98px) {
    .advertising #_file_content #_assignation, .advertising #gallery #_two_small_img{
        width: 30%;
    }
    .advertising #gallery #_one_big_img, .advertising #_file_content #_details{
        width: 70%;
    }
    .advItem #_details ul{
        font-size: .9em;
    }
    .register form, .signIn form{
        width: 30%;
    }
    .register .tabs, .signIn .tabs{
        width: 35%;
    }
    .profile{
        padding: 5%;
        .tabContent .panel form {
            width: 50%;
        }
    }
    .contact_us {
        width: 60%;
    }
    .adList #_search button{
        width: 10%;
    }
}
@media only screen and (max-width: 1199.98px) {
    .advertising #_file_content #_assignation, .advertising #gallery #_two_small_img{
        width: 40%;
    }
    .advItem{
        width: 100%;
    }
    .advertising #gallery #_one_big_img, .advertising #_file_content #_details{
        width: 60%;
    }
    .advItem #_details ul{
        font-size: .9em;
    }
    header .headerContent .headerItems a{
        width: 30%;
    }
    header.goBot .headerItems a{
        width: 100%;
    }
    .register form, .signIn form{
        width: 50%;
    }
    .register .tabs, .signIn .tabs{
        width: 60%;
    }
    .adInsert #_adInsert_content #_top_info #_img_upload #_img_list {
        label, .items{
            width: 30%;
        }
    }
    .header .menu a {
        padding: 0 2rem;
    }
    .related_article #_list #__item{
        height: 13rem;
        font-size: .8em;
    }
    .contact_us{
        padding: 5rem;
        #_share_opinion{
            width: 50%;
        }
    }
    .adList #_list .advItem {
        width: 48%;
    }
}
@media only screen and (max-width: 990.98px) {
    .advertising {
        #gallery{
            flex-direction: column;
            #_one_big_img, #_two_small_img{
                width: 100%;
                #_smallimg{
                    width: 50%;
                    height: 100%;
                    &:first-child{
                        margin-left: .25rem;
                    }
                    &:last-child{
                        margin-right: .25rem;
                    }
                }
            }
            #_two_small_img{
                flex-direction: row;
                height: 40%;
                border-radius: 0 0 1rem 1rem;
            }
            #_one_big_img{
                height: 60%;
                border-radius: 1rem 1rem 0 0;
                margin-left: 0;
                margin-bottom: .5rem;
                .imgSlide{
                    left: 1rem;
                    right: unset;
                    top: 1rem;
                    bottom: unset;
                    padding: 0.5rem;
                    font-size: .8em;
                }
            }
            .buttons{
                font-size: .7em;
            }
        }
        #_file_content{
            flex-direction: column;
            #_details, #_assignation{
                width: 100%;
                padding: 0;
                #_map_pin, #_explain{
                    margin-top: 3rem;
                }
            }
            #_assignation{
                margin-top: 2rem;
                #_file_content #_details #_price_history table{
                    font-size: .8em;
                }
            }
        }
    }
    .adInsert #_adInsert_content{
        #_bot_info, #_top_info {
            width: 70%;
        }
        #_top_info #_img_upload{
            p{
                font-size: 1em;
            }
            #_img_list {
                label, .items{
                    width: 48%;
                }
            }
        } 
    } 
    .profile .tablist .name{
        font-size: 1em;
    }
    header .headerContent{
        width: 60%;
        .headerItems a {
            font-size: small;
            padding: 5px 10px;
        }
    }
    .profile .tabContent .panel {
        flex-direction: column;
        form{
            width: 100%;
        }
    }
    .article .article_list .article_item{
        width: 48%;
    }
    .header .menu a {
        padding: 0 1.5rem;
        font-size: .8em;
    }
    .contact_us{
        flex-direction: column;
        box-shadow: none;
        width: 75%;
        padding: 0;
        #_share_opinion{
            width: 100%;
            position: relative;
            right: unset;
            &>div{
                margin-top: 2rem;
            }
        }
        #_social_media{
            width: 100%;
            max-width: unset;
            #__item {
                width: 24%;
            }
        }
    }
    .adList{
        margin-bottom: 0;
        width: 100%;
        .row{
            height: max-content;
            overflow: hidden;
            position: relative;
            margin: 0;
            .col-lg-9{
                padding: 0;
                width: 90%;
                margin: 0 auto;
                z-index: 1;
            }
            .col-lg-3{
                padding: 0;
                background-color: #fafaf9;
                border: 2px solid #625076;
                border-radius: 15% 15% 0 0;
                position: fixed;
                right: 0;
                width: 100%;
                bottom: -620px;
                transition: 1s ease all;
                z-index: 10;
                .filters{
                    box-shadow: none;
                    overflow: hidden;
                    position: relative;
                    h6{
                        display: flex;
                        justify-content: center;
                        &::before{
                            content: '';
                            width: 10%;
                            height: 3px;
                            top: 1em;
                            background-color: #625076;
                            display: block;
                            position: absolute;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 767.98px) {
    .header{
        height: 3rem;
        justify-content: flex-start;
        .logo{
            height: 50%;
        }
        .menu{
            padding-right: 1rem;
            a{
                padding-left: 2rem;
                padding-right: 0;
                font-size: .7em;
            }
        } 
    }
    .adList .row .col-lg-3{
        bottom: -460px;
    }
    .related_article #_list #__item {
        height: 9rem;
        font-size: 0.6em;
    }
    .adInsert #_adInsert_content{
        font-size: .8em;
        #_bot_info{
            .options label{
                font-size: 1em;
            }
            select {
                width: 100%;
                font-size: .8em;
                margin-bottom: 0.5rem;
            }
        } 
    } 
    .adList .filters .renge_filter {
        margin-bottom: 0.5rem;
        font-size: .8em;
    }
    .related_article #_list #__item #___title span{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        word-wrap: break-word;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    .profile{
        flex-direction: column;
        .tablist{
            width: 100%;
            margin-bottom: 3rem;
            display: flex;
            flex-direction: column;
            box-shadow: none;
            position: relative;
            .name{
                justify-content: flex-start;
                background-color: transparent;
                p{
                    color: #0f172a;
                }
            }
            ul{
                display: flex;
                li{
                    border: 1px solid #625076;
                    font-size: .8em;
                    justify-content: center;
                    padding: 1rem;
                    border-radius: 3rem 0 0;
                    overflow: hidden;
                    background-color: #fafaf9;
                    position: relative;
                    &:first-child{
                        right: 0.5rem;
                        z-index: 3;
                    }
                    &:nth-child(2){
                        z-index: 2;
                        left: 0.5rem;
                    }
                    &:nth-child(3){
                        z-index: 1;
                        left: 1rem;
                    }
                    svg{
                        display: none;
                    }
                    span{
                        padding: 0;
                    }
                    &.react-tabs__tab--selected{
                        background-color: #CED7C5;
                        border-radius: 1rem 0 0;
                        border: 1px solid #625076;
                        .leftArrow{
                            display: none;
                        }
                    }
                }
            }
        }
        .tabContent{
            width: 100%;
            padding: 2rem;
        }
    }
    .react-tabs__tab-list{
        display: flex;
    }
    .advertising {
        padding: 0rem;
        #_file_content{
            padding: 2rem 0rem;
        }
    }
    .swiper-button-prev, .swiper-button-next{
        display: none;
    }
    .register form, .signIn form{
        width: 60%;
    }
}
@media only screen and (max-width: 575.98px) {
    .adInsert #_adInsert_content{
        padding-top: 2rem;
    }
    .article{
        .article_list .article_item{
            width: 100%;
        }
        .content {
            padding: 5rem 1rem;
        }
    } 
    .adList{
        #_list .advItem{
            width: 100%;
        }
        #_search{
            input{
                padding: 0.5rem;
                font-size: .7em;
            }
            button{
                width: 15%;
                padding: 0.5rem;
                font-size: 1em;
            }
        } 
    } 
    .contact_us{
        min-height: unset;
        margin: 3rem auto;
        #_share_opinion{
            padding: 1rem;
        }
        #_social_media #__item span{
            display: none;
        }

    } 
    .articlePage {
        padding: 1rem 0;
        #_title{
            flex-direction: column;
            #__date{
                font-size: .6em;
            }
        }
        #_content{
            p{
                font-size: .8em;
                text-align: justify;
            }
        } 
    }
    .related_article #_list{
        flex-direction: column;
        #__item{
            width: 100%;
            margin-bottom: 1rem;
        }
    }
    .article .pagination li {
        width: 25px;
        height: 25px;
        font-size: .5em;
        margin: 0 0.3rem;
    }
    .header{
        position: fixed;
        bottom: 0;
        height: 50px;
        z-index: 10;
        width: 100%;
        background-color: #f9f9f9;
        box-shadow: 0px 0px 7px -3px rgb(0 0 0 / 80%);
        .humMenu{
            display: block;
        }
        .menu{
            display: flex;
            justify-content: space-between;
            padding-right: 0;
            width: 100%;
            a{
                color: #1c1917;
                margin: 0 .5rem;
                display: flex;
                align-items: center;
                padding-left: 0;
                font-size: .7em;
                &:last-child{
                    border-bottom: none;
                }
            }
            #_name{
                padding: 2rem;
                // text-align: center;
                border-bottom: 2px solid #625076;
                font-size: 1.3em;
            }
            &.show{
                transform: translateX(0px);
            }
        }
    } 
    .adInsert #_adInsert_content{
        #_bot_info{
            width: 90%;
            .options {
                flex-direction: column;
            }
        }
        #_top_info{
            width: 90%;
            input[type=text]{
                margin-top: .5rem;
            }
            select{
                width: 100%;
                margin-top: .5rem;
            }
            #_img_upload{
                margin-bottom: 2rem;
            }
        }
        #_location{
            margin-top: 0;
        }
    }
    .profile .tabContent{
        padding: 0.5rem;
    }
    .profile .tablist ul li{
        padding: .5rem;
        font-size: .6em;
    }
    .advItem #_details ul li{
        width: 100%;
        p.text-left {
            text-align: right;
        }
    }
    .profile .tabContent .panel .submit{
        width: 100%;
        text-align: center;
    }
    .advItem #_details ul {
        font-size: 0.8em;
    }
    #__sub_details  li p{
        font-size: 10px!important;
    }
    .advertising{
        #gallery{
            .buttons{
                width: 15%;
                button #__social_media{
                    font-size: 1.5em;
                }
            }
            #_one_big_img{
                height: 33.33%;
            }
            #_two_small_img{
                flex-direction: column;
                height: 66.66%;
                #_smallimg{
                    width: 100%;
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
        #_file_content #_details{
            #__sub_details li{
                font-size: small;
                width: 50%;
            }
            #__main_details{
                flex-direction: column;
                li{
                    width: 100%;
                    margin-bottom: .5rem;
                    p{
                        margin-bottom: 0;
                    }
                    &:nth-child(even){
                        text-align: right;
                    }
                }
            }
        } 
    } 
    .price_table{
        width: 100%;
        overflow-x: auto;
        table{
            min-width: 500px;
        }
    }
    .register form, .signIn form{
        width: 90%;
    }
    .register form .submit, .signIn form .submit{
        flex-direction: column;
        button{
            margin-bottom: .5rem;
            width: 95%;
            font-size: .8em;
        }
    }
    .register .tabs, .signIn .tabs{
        width: 85%;
        button{
            font-size: 1em;
        }
    }
}