.advertisings {
  padding: 5rem;
}
.advertisings #_tabs {
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
}
.advertisings #gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 80vh;
}
.advertisings #gallery .buttons {
  width: 5%;
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.advertisings #gallery .buttons button {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 2rem;
  transition: 0.3s ease all;
  display: flex;
  align-items: center;
  justify-content: center;
}
.advertisings #gallery .buttons button .red {
  fill: #fd3d3d;
}
.advertisings #gallery .buttons button:first-child {
  border-radius: 1rem 1rem 0 0;
  margin-bottom: 0.3rem;
}
.advertisings #gallery .buttons button:last-child {
  border-radius: 0 0 1rem 1rem;
}
.advertisings #gallery .buttons button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.advertisings #gallery .buttons button #__social_media {
  position: absolute;
  height: 40px;
  line-height: 40px;
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
  top: 95%;
  border: 1px solid #707070;
  background-color: #707070;
  display: flex;
  align-items: center;
  z-index: 1;
  box-shadow: 0px 0px 30px -15px rgb(255, 255, 255);
  transition: 0.3s ease opacity;
  opacity: 0;
}
.advertisings #gallery .buttons button #__social_media.show {
  opacity: 1;
}
.advertisings #gallery .buttons button #__social_media:before {
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  content: "";
  display: block;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #707070;
}
.advertisings #gallery .buttons button #__social_media button {
  margin: 0em 0.5em;
}
.advertisings #gallery .buttons button #__social_media button svg path {
  width: 0.5em;
}
.advertisings #gallery #_one_big_img {
  width: 75%;
  position: relative;
  margin-left: 10px;
  height: 100%;
  overflow: hidden;
  border-radius: 0 1em 1em 0;
}
.advertisings #gallery #_one_big_img .pnlm-container {
  width: 100% !important;
  height: 100% !important;
}
.advertisings #gallery #_one_big_img img {
  min-width: 100%;
  min-height: 100%;
}
.advertisings #gallery #_one_big_img .galleryThumb {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  align-items: flex-end;
  z-index: 1;
}
.advertisings #gallery #_one_big_img .galleryThumb .imgSlide {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fafaf9;
  display: flex;
  align-items: center;
  transition: 0.3s ease all;
  margin-left: 0.2rem;
  cursor: pointer;
  font-size: 1.2em;
  padding: 1rem;
}
.advertisings #gallery #_one_big_img .galleryThumb .imgSlide span {
  margin-right: 5px;
}
.advertisings #gallery #_one_big_img .galleryThumb .imgSlide:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.advertisings #gallery #_one_big_img .galleryThumb .thumb {
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
  margin: 0 0.1rem;
}
.advertisings #gallery #_one_big_img .galleryThumb .thumb img {
  width: 100%;
}
.advertisings #gallery #_one_big_img .panorama {
  position: absolute;
  left: 20px;
  bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
  width: 5rem;
  height: 3rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafaf9;
  cursor: pointer;
  transition: 0.3s ease all;
}
.advertisings #gallery #_one_big_img .panorama .rotatable {
  display: flex;
  align-items: center;
}
.advertisings #gallery #_one_big_img .panorama .rotatable span {
  font-size: 0.5em;
}
.advertisings #gallery #_one_big_img .panorama:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.advertisings #gallery #_two_small_img {
  width: 25%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1em 0 0 1em;
  overflow: hidden;
}
.advertisings #gallery #_two_small_img #_smallimg {
  height: 50%;
  overflow: hidden;
}
.advertisings #gallery #_two_small_img #_smallimg:first-child {
  margin-bottom: 10px;
}
.advertisings #gallery #_two_small_img #_smallimg img {
  min-width: 100%;
  min-height: 100%;
}
.advertisings .react-time-picker__inputGroup__input {
  outline: none;
}
.advertisings #_file_content {
  display: flex;
  padding: 2rem 1rem;
}
.advertisings #_file_content #_details {
  width: 75%;
  padding-left: 1rem;
}
.advertisings #_file_content #_details #__main_details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.advertisings #_file_content #_details #__main_details li {
  width: 50%;
  font-weight: bold;
  margin-bottom: 1rem;
}
.advertisings #_file_content #_details #__main_details li:nth-child(even) {
  text-align: left;
}
.advertisings #_file_content #_details #__sub_details {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.advertisings #_file_content #_details #__sub_details li {
  width: 25%;
  margin-bottom: 0.5rem;
}
.advertisings #_file_content #_details #_map_pin {
  margin-top: 10rem;
}
.advertisings #_file_content #_details #_map_pin img {
  width: 100%;
}
.advertisings #_file_content #_details #_explain {
  margin-top: 7rem;
  padding-right: 1rem;
  border-right: 1px solid #707070;
}
.advertisings #_file_content #_details #_price_history {
  margin-top: 7rem;
}
.advertisings #_file_content #_details #_price_history table {
  width: 100%;
  margin-top: 1rem;
  background-color: #f5f5f4;
}
.advertisings #_file_content #_details #_price_history table tr {
  border: 1px solid #AFAFAF;
  color: #484848;
}
.advertisings #_file_content #_details #_price_history table tr th {
  background-color: #E5E5E5;
  padding: 1rem;
}
.advertisings #_file_content #_details #_price_history table tr td {
  padding: 1rem;
}
.advertisings #_file_content #_assignation {
  padding-right: 1rem;
  width: 25%;
}
.advertisings #_file_content #_assignation .react-tabs__tab-list {
  margin-bottom: 0;
}
.advertisings #_file_content #_assignation .react-tabs__tab-list .react-tabs__tab {
  width: 50%;
  padding: 1rem;
  text-align: center;
}
.advertisings #_file_content #_assignation .react-tabs__tab-list .react-tabs__tab::after {
  display: none;
}
.advertisings #_file_content #_assignation .react-tabs__tab-list .react-tabs__tab.react-tabs__tab--selected {
  border: 2px solid #a7a7a7;
  border-bottom: none;
  background-color: #fafaf9;
}
.advertisings #_file_content #_assignation .dateInput, .advertisings #_file_content #_assignation .timeInput, .advertisings #_file_content #_assignation .phoneNum {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-between;
}
.advertisings #_file_content #_assignation .dateInput .DatePicker, .advertisings #_file_content #_assignation .dateInput .react-time-picker, .advertisings #_file_content #_assignation .timeInput .DatePicker, .advertisings #_file_content #_assignation .timeInput .react-time-picker, .advertisings #_file_content #_assignation .phoneNum .DatePicker, .advertisings #_file_content #_assignation .phoneNum .react-time-picker {
  width: 60%;
}
.advertisings #_file_content #_assignation .dateInput .DatePicker__input, .advertisings #_file_content #_assignation .timeInput .DatePicker__input, .advertisings #_file_content #_assignation .phoneNum .DatePicker__input {
  width: 100%;
  border-radius: 0.5rem;
}
.advertisings #_file_content #_assignation .dateInput .react-time-picker__wrapper, .advertisings #_file_content #_assignation .timeInput .react-time-picker__wrapper, .advertisings #_file_content #_assignation .phoneNum .react-time-picker__wrapper {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}
.advertisings #_file_content #_assignation .dateInput .react-time-picker__wrapper, .advertisings #_file_content #_assignation .timeInput .react-time-picker__wrapper, .advertisings #_file_content #_assignation .phoneNum .react-time-picker__wrapper {
  direction: ltr;
}
.advertisings #_file_content #_assignation .dateInput p, .advertisings #_file_content #_assignation .timeInput p, .advertisings #_file_content #_assignation .phoneNum p {
  margin-left: 0.5rem;
  margin-bottom: 0;
}
.advertisings #_file_content #_assignation .phoneNum input {
  background-color: #ffffff;
  border: 1px solid #ddd;
  width: 60%;
  text-align: center;
  padding: 0.2rem;
  border-radius: 0.5rem;
  font-size: 0.9em;
}
.advertisings #_file_content #_assignation .react-time-picker__clock-button {
  display: none;
}
.advertisings #_file_content #_assignation .react-tabs__tab-panel {
  padding: 1rem;
  border: 2px solid #a7a7a7;
  border-top: none;
}
.advertisings #_file_content #_assignation .submit {
  color: #DFDFDF;
  background-color: #8F0000;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
  font-size: 1em;
  transition: 0.3s ease;
}
.advertisings #_file_content #_assignation .submit:hover {
  background-color: #6d0101;
}
.advertisings #_file_content #_assignation .description {
  margin-top: 1rem;
  font-size: 0.8em;
  text-align: justify;
}
.advertisings #_file_content #_assignation form {
  display: flex;
  flex-direction: column;
}
.advertisings #_file_content #_assignation form input, .advertisings #_file_content #_assignation form textarea {
  background-color: #ffffff;
  border: 1px solid #ddd;
  width: 100%;
  text-align: left;
  padding: 0.3rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.9em;
  resize: none;
}
.advertisings #_file_content #_assignation form textarea {
  text-align: right;
}
.advertisings #_similar_files {
  margin-top: 5rem;
}
.advertisings #_similar_files .swiper-wrapper .swiper-slide {
  padding: 0.8rem 0;
}
.advertisings #_similar_files .swiper-wrapper .swiper-slide .advItem {
  box-shadow: 0px 0px 20px -15px rgba(0, 0, 0, 0.8);
  width: 100%;
  margin-bottom: 0;
  display: block;
}
.advertisings #_similar_files .swiper-wrapper .swiper-slide .advItem #_details {
  width: 100%;
}
.advertisings #_similar_files .swiper-wrapper .swiper-slide .advItem #_details #__sub_details li {
  width: 50%;
}
.advertisings #_similar_files .swiper-button-prev {
  right: 0rem;
  border-radius: 50% 0 0 50%;
  background: rgb(255, 255, 255);
  background: linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}
.advertisings #_similar_files .swiper-button-next {
  left: 0rem;
  border-radius: 0 50% 50% 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}
.advertisings #_similar_files .swiper-button-prev, .advertisings #_similar_files .swiper-button-next {
  height: 100%;
  top: 22px;
  padding: 2rem;
}
.advertisings #_similar_files .swiper-button-prev::after, .advertisings #_similar_files .swiper-button-next::after {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  color: #f5f5f4;
  font-size: 1em;
  width: 50px;
  height: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.adList {
  width: 90%;
  position: relative;
  margin: 3rem auto;
}
.adList #_search {
  width: 100%;
  font-size: 1.2em;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}
.adList #_search input {
  width: 95%;
  padding: 1rem;
  background-color: #E8E5EB;
  outline: none;
  border-radius: 0 1em 1em 0;
}
.adList #_search button {
  background-color: #C9C3CF;
  border-radius: 0.5em 0 0 0.5em;
  height: 100%;
  width: 5%;
  padding: 1rem;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.adList #_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.adList #_list .advItem {
  width: 30%;
}
.adList .input-range {
  height: 1rem;
  position: relative;
  width: 100%;
  direction: ltr;
}
.adList .input-range__track {
  background: #e6e9ea;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  height: 3px;
  position: relative;
  transition: left 200ms ease-out, width 200ms ease-out;
  will-change: left, width;
}
.adList .input-range__track--active {
  background: #9b26b6;
}
.adList .input-range__track--background {
  margin-top: -1.5px;
  top: 50%;
  position: absolute;
  left: 0;
  right: 0;
}
.adList .input-range__label-container {
  display: none;
}
.adList .input-range__slider {
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  margin-left: -1rem;
  margin-top: -1rem;
  outline: none;
  position: absolute;
  top: -1px;
  transition: left 200ms ease-out;
  will-change: left;
}
.adList .input-range__slider::before {
  background: #ffffff;
  border-radius: 100%;
  display: block;
  content: "";
  height: 1rem;
  width: 1rem;
  transition: transform 200ms ease-out, box-shadow 200ms ease-out;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
  will-change: transform, box-shadow;
  border: 2px solid #9b26b6;
}
.adList .renge_result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  font-weight: 500;
  color: #8f23b3;
  direction: ltr;
}
.adList .filters {
  padding: 2rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.16);
}
.adList .filters h6 {
  text-align: center;
  margin-bottom: 2rem;
}
.adList .filters .renge_filter {
  margin-bottom: 2.5rem;
}
.adList .filters .renge_filter p {
  margin-bottom: 0.5rem;
}
.adList .react-tabs__tab-list {
  margin-bottom: 2rem;
}/*# sourceMappingURL=style.css.map */