.advItem{
    width: 48%;
    box-shadow: 0px 0px 20px -10px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 2rem;
    position: relative;
    cursor: pointer;
    #_image{
        width: 100%;
        position: relative;
        img{
            width: 100%;
        }
        #_gallery{
            position: absolute;
            left: 1rem;
            bottom: 1rem;
            font-size: 2em;
        }
    }
    #_details{
        padding: 1.5rem 2rem;
        ul{
            display: flex;
            flex-wrap: wrap;
            li{
                width: 50%;
                padding-top: .5rem;
                p{
                    margin-bottom: 0;
                    &.text-left{
                        text-align: left;
                    }
                    &.address{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        word-wrap: break-word;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }
        #__sub_details{
            li{
                p{
                    font-size: 13px;
                }
            }
        }
    }
}