$white: #f8fafc;
*{
    padding: 0px;
    margin: 0px;
    border: none;
}
body{
    width: 100%;
    overflow-x: hidden;
    direction: rtl;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
header{
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        height: 100%;
        width: 100%;
    }
    .backCover{
        background-color: rgba(245, 233, 128, .31);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        transition: 1s;
    }
    .headerContent{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        height: 50vh;
        .logo{
            width: 15%;
            position: fixed;
            transition: 1s;
            transform: translateX(0%) translateY(0%) scale(1);
        }
        .search{
            position: fixed;
            top: 50%;
            display: flex;
            width: 50%;
            transition: 1s ease;
            button{
                padding: 20px 20px 10px;
                background-color: rgba(0,0,0, .85);
                color: $white;
                font-size: 34px;
                border-radius: 22px 0px 0px 22px;
            }
            input{
                width: 100%;
                background-color: rgba(0,0,0, .70);
                border-radius: 0px 22px 22px 0px;
                padding-right: 5%;
                font-size: 22px;
                outline: none;
                color: $white;
                &::placeholder { /* Internet Explorer 10-11 */
                    color: $white;
                }
            }
        }
        .headerItems{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            // transition: 1s ease;
            position: absolute;
            top: 70%;
            a{
                padding: 15px;
                position: relative;
                text-align: center;
                margin-bottom: 10px;
                transition: .5s ease;
                width: 25%;
                background-color: #fff;
                border-radius: 15px;
                box-shadow: 0px 0px 20px -14px rgb(0 0 0);
                span{
                    font-size: 30px;
                    left: 15px;
                    top: 17%;
                    position: absolute;
                    visibility: hidden;
                }
                #_header_items_adv{
                    g, path{
                        fill: #551a8b;
                    }
                }
            }
        }
    }
    .navigateButton{
        position: absolute;
        bottom: 20px;
        font-size: 45px;
        color: #798326;
        transition: .5s ease;
        background-color: transparent;
    }
    ._main_map{
        transition: 1s;
    }
    &.goBot{
        .backCover{            
            height: 0%;
            transition: 3s;
        }
        .logo{
            z-index: 2;
            transition: 1s;
            transform: translateX(310%) translateY(-140%) scale(0.3);
        }
        .search{
            top: 1%;
            z-index: 2;
        }
        .headerItems{
            z-index: 2;
            transform: translateX(470%) translateY(-110%);
            flex-direction: column;
            position: absolute;
            align-items: flex-start;
            width: 25%;
            a{
                transform : translateX(-30%);
                right: 0px;
                width: 100%;
                span{
                    visibility: visible;
                }
                p{
                    visibility: hidden;
                }
                &:hover{
                    transform : translate(-80%);
                    p{
                        visibility: visible;
                    }
                }
            }
        }
        .navigateButton{
            transform: scaleY(-1);
            z-index: 2;
        }
        ._main_map{
            z-index: 1!important;
        }
    }
}
.leaflet-container {
    width: 100wh; 
    height: 100vh;
    position: relative;
}
#map {
    position: relative;
    height: inherit;
    width: inherit;
}
img[src="https://static.neshan.org/sdk/images/neshan-platform-logo-v3.png"]{
    display: none;
}
a[href="https://neshan.org"]{
    display: none;
}
a[href="https://openstreetmap.org"]{
    display: none;
}